<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Music Quiz</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Selamat Datang di Mood Music Quiz</h1>
        <p>Jawab setiap pertanyaan untuk mengetahui mood Anda dan dapatkan playlist musik yang cocok!</p>
        <a href="{{ url_for('question') }}" class="playlist-link">Mulai Kuisioner</a>
    </div>
</body>
</html>
